nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar{
    background-color: #00835c;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    flex-grow: 1;
}

.navbar a{
    display: block;
    width: 100%;
    height: 100%;
    padding: .75em .75em;
    background-color: transparent;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.navbar li a:hover{
    background-color: #00573d;
}

.log{
    color: #FFF;
    font-weight: 900;
    padding: .75em .75em;
    background-color: #00573d;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.log:hover{
    background-color: #b84900;
}